/* ImagesTable.module.css */

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #fff;
  overflow: auto;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
