.RoomIdeas {
  display: flex;
  flex-direction: column;
}

.RoomIdeas th {
  color: gray;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.42;
  letter-spacing: 0.002em;
  min-height: 2.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 0.7rem;
}

.RoomIdeas tr:first-child {
  border-bottom: #d3d3d3 1px solid;
}

.RoomIdea {
  border-bottom: #d3d3d3 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.RoomIdea div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.RoomIdea img {
  width: 40px;
  height: 40px;
  padding-left: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.RoomIdea p {
  font-weight: 400;
  font-size: 0.875rem;
  padding-left: 1.25rem;
}

.RoomIdea button {
  margin: 5px;
  padding: 2px;
}

.RoomIdea svg {
  padding: 2px;
  font-weight: 400;
  font-size: 0.875rem;
  cursor: pointer;
}
